@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  color: #252B42;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat;
  background: #FAFAFA;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin-left: 133px;
}

.menu {
  padding: 15px 0 15px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  color: #737373;
  line-height: 171.4285714286%;
  font-weight: 600;
}

.menu__link:hover {
  text-decoration: underline;
}

.footer__top {
  background: #17213C;
  padding: 30px 0;
}

.footer__row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  padding: 20px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
}

.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer__link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-footer__item {
  padding-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  color: #fff;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item_phone {
  background: url("../img/footer/01.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/02.svg") 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/03.svg") 0 0 no-repeat;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #737377;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

.page__clients:not(:last-child) {
  margin-bottom: 10px;
}

.header-block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__title {
  font-weight: 700;
  color: #252b42;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__sub-title {
  color: #737373;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  max-width: 511px;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 137.9310344828%;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
  width: 100%;
}

.main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 34px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin: 10px 0;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
  border: 1px solid #ff7b47;
}

.main-block__button_orange:hover {
  background: #fff;
  color: #ff7b47;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px #0d5c63 solid;
}

.main-block__button_border:hover {
  background: #0d5c63;
  color: #fff;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333333%;
          flex: 0 1 33.333333%;
}

.services__item {
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 40px 35px;
  height: 100%;
}

.services__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-sirvice {
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.item-services__icon {
  width: 48px;
  height: 48px;
}

.item-services__icon_01 {
  background: url(../img/services/01.svg) no-repeat center;
}

.item-services__icon_02 {
  background: url(../img/services/02.svg) no-repeat center;
}

.item-services__icon_03 {
  background: url(../img/services/03.svg) no-repeat center;
}

.item-sirvice__title {
  font-weight: 700;
  color: #252b42;
  font-size: 24px;
  line-height: 1.3333333333;
}

.item-services__text {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
}

.advantages {
  padding-top: 80px;
}

.advantages__header {
  margin-bottom: 50px;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-bottom: 30px;
}

.advantages__item {
  background: #fff;
  padding: 30px 35px;
  text-align: center;
  font-weight: 700;
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.practice {
  padding: 125px 0 80px 0;
}

.practice__header {
  margin-bottom: 45px;
}

.practice__body {
  margin: 0 -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
}

.item-practice {
  background: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.item-practice__text {
  color: #737373;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
}

.item-practice__image {
  padding-bottom: 60%;
  display: block;
}

.whoweare {
  padding: 100px 0 136px 0;
  background: white;
}

.whoweare__header {
  margin-bottom: 100px;
}

.whoweare__body {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.5% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin-bottom: 10px;
}

.whoweare__text {
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__top:not(:last-child) {
  margin-bottom: 50px;
}

.whoweare__item:not(:last-child) {
  margin-bottom: 30px;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.item-whoweare__title:not(:last-child) {
  margin-bottom: 5px;
}

.item-whoweare__text {
  font-weight: 600;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 1.7142857143;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: 225px;
  overflow: hidden;
}

.clients {
  padding: 58px 0;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding-bottom: 20px;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background: #252b42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 33px 50px;
  background: #17213c;
  border-radius: 2px;
}

.subscribe__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 100%;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  background: #f9f9f9;
  color: #737373;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
}

.subscribe__input:focus {
  color: black;
}

.subscribe__button {
  outline: none;
  background: #ff7b47;
  border: 1px solid #f9f9f9;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 22.5px;
  color: white;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 2;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.subscribe__button:hover {
  background: #f9f9f9;
  border: 1px solid #ff7b47;
  color: #ff7b47;
}

.getintouch {
  padding: 80px 0 135px 0;
}

.getintouch__header {
  margin-bottom: 80px;
}

.getintouch__items {
  margin: 0 -15px;
}

.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 50px 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-getintouch > *:not(:last-child) {
  margin-bottom: 15px;
}

.item-getintouch__icon {
  width: 73px;
  height: 73px;
}

.item-getintouch__icon_01 {
  background: url(../img/getintouch/01.svg) no-repeat center;
}

.item-getintouch__icon_02 {
  background: url(../img/getintouch/02.svg) no-repeat center;
}

.item-getintouch__icon_03 {
  background: url(../img/getintouch/03.svg) no-repeat center;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.item-getintouch__button {
  border-radius: 5px;
  border: 1px solid #ff7b47;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5px 20px;
  font-weight: 600;
  line-height: 1.7142857143;
  color: #ff7b47;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.item-getintouch__button:hover {
  background: #ff7b47;
  color: #fff;
}

.contact {
  background: #fff;
  padding: 40px 0;
}

.contact__content {
  padding-right: 20px;
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
}

.contact__title:not(:last-child) {
  margin-bottom: 10px;
}

.contact__text {
  color: #737373;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
}

.contact__button {
  border-radius: 5px;
  background: #ff7b47;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5px 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 2;
  color: #fff;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  border: transparent 1px solid;
}

.contact__button:hover {
  background: #fff;
  color: #ff7b47;
  border: #ff7b47 1px solid;
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }

  .services__column {
    padding: 0 15px;
  }
}

@media (min-width: 767px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 810px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .subscribe__title {
    max-width: 266px;
  }
}

@media (min-width: 992px) {
  .getintouch__items {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .item-sirvice:hover {
    background: #0d5c63;
  }

  .item-sirvice:hover .item-sirvice__title {
    color: white;
  }

  .item-sirvice:hover .item-services__text {
    color: white;
  }

  .item-sirvice:hover .item-services__icon_01 {
    background: url(../img/services/active/01.svg) no-repeat center;
  }

  .item-sirvice:hover .item-services__icon_02 {
    background: url(../img/services/active/02.svg) no-repeat center;
  }

  .item-sirvice:hover .item-services__icon_03 {
    background: url(../img/services/active/03.svg) no-repeat center;
  }

  .item-getintouch {
    margin: 30px 0;
  }

  .item-getintouch:hover {
    background: #252b42;
    color: white;
    padding: 80px 15px;
    margin: 0 0;
  }

  .item-getintouch:hover .item-getintouch__icon_01 {
    background: url(../img/getintouch/active/01.svg) no-repeat center;
  }

  .item-getintouch:hover .item-getintouch__icon_02 {
    background: url(../img/getintouch/active/02.svg) no-repeat center;
  }

  .item-getintouch:hover .item-getintouch__icon_03 {
    background: url(../img/getintouch/active/03.svg) no-repeat center;
  }

  .item-getintouch:hover .item-getintouch__button {
    border: white solid 1px;
    color: white;
  }

  .item-getintouch:hover .item-getintouch__button:hover {
    background: white;
    color: #252b42;
  }
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .header-block__title {
    font-size: 35px;
  }

  .main-block__body {
    padding: 120px 0 191px 0;
  }

  .main-block__image img {
    opacity: 0.7;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .advantages {
    padding-top: 50px;
  }

  .getintouch {
    padding: 50px 0;
  }

  .getintouch__header {
    margin-bottom: 50px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }

  .whoweare__header {
    margin-bottom: 30px;
  }

  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }

  .whoweare__video:not(:last-child) {
    margin-top: 50px;
  }

  .whoweare__content {
    padding: 0 0 0 0;
  }

  .whoweare__title {
    font-size: 24px;
  }
}

@media (max-width: 810px) {
  .subscribe__body {
    padding: 20px 25px;
    margin: 0 -25px;
  }

  .subscribe__title {
    margin-bottom: 20px;
  }

  .subscribe__input {
    padding: 0 15px;
  }

  .subscribe__button {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 18px;
    color: #4b4b4b;
  }

  .main-block__text {
    color: #4b4b4b;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copy {
    margin-bottom: 15px;
    text-align: center;
  }

  .header-block__title {
    font-size: 30px;
  }

  .advantages {
    padding-top: 30px;
  }

  .advantages__header {
    margin-bottom: 25px;
  }

  .practice {
    padding: 40px 0 40px 0;
  }

  .practice__header {
    margin-bottom: 25px;
  }

  .whoweare {
    padding: 20px 0 50px 0;
  }

  .whoweare__video:not(:last-child) {
    margin-top: 25px;
  }

  .whoweare__top:not(:last-child) {
    margin-bottom: 25px;
  }

  .getintouch__header {
    margin-bottom: 30px;
  }

  .contact__content {
    padding-bottom: 20px;
  }
}

@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }

  .header__menu {
    margin-left: 20px;
  }

  .main-block__body {
    max-width: 600px;
    padding: 115px 0 160px 0;
  }

  .main-block__title {
    font-size: 42px;
  }

  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__item {
    padding: 30px 25px;
  }
}